.search-form {
  display: flex;
  justify-content: flex-end;
}

.search-form .input-container .search-input {
  padding: 8px 12px;
  min-width: 50%;
  border-radius: 5px 0 0 5px;
  border: 1px solid #c8c6c6;
  border-right: none;
}

.search-form .search-input:focus {
  border-color: #acb6e5;
  outline: 0;
  border: 1px solid #8495e0;
}

.search-form .input-container {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: flex-end;
}

.search-form .search-button {
  border-radius: 0 5px 5px 0;
  padding: 8px 12px;
  background-color: #fafbfc;
  color: #24292e;
  cursor: pointer;
  border: 1px solid #c8c6c6;
}

.search-form .search-button:hover {
  background-color: #edeff2;
}

.search-form .reset-button {
  position: absolute;
  border: none;
  border-radius: 50px;
  padding: 4px 6px;
  background-color: #474747;
  color: #fff;
  font-weight: bold;
  right: 8px;
  top: 6px;
  outline: 0;
  font-size: 11px;
  cursor: pointer;
}

.search-form .reset-button:hover {
  background-color: #999;
}
